<%-include('parts/top.ejs')%>
<br><br><br><br><br>
<div class="container">

    <form method="POST" action="/update" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Book Title</label>
          <input type="text"  name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= book.title %>">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Description</label>
          <input type="text" name="description" class="form-control" id="exampleInputPassword1" value="<%= book.description %>">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Author</label>
            <input type="text"  name="author"  class="form-control" id="exampleInputPassword1" value="<%= book.author%>">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="exampleInputPassword1" value="<%= book.price%>">
          </div>
        
     <input type="hidden" value="<%= book._id%>" name="id">
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" name="image" class="form-control" id="inputGroupFile02">
        </div>
        
          <input type="hidden" value="<%= book.image%>" name="old">
        <%if(Smessage){ %>
          <div class="alert alert-success" role="alert">
              <%= (Smessage)  %>
          </div>
          <%}%>
  
          <%if(Emessage){ %>
          <div class="alert alert-danger" role="alert">
              <%= (Emessage) %>
          </div>
          <%}%>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


<%-include('parts/bottom.ejs')%>